<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们详情</title>
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/plugin.min.css">
    <script src="/static/js/reset-rem.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/plugin.min.js"></script>
</head>

<body>
    <header class="navAboutUs">
        <% var header = require('../../../components/header.ejs') %>
        <%= header() %>
    </header>
    <div class="about-us-details">
        <h1>关于我们详情</h1>
        <h2>Example 8</h2>
        <div id="example-6">
            <select v-model="selected" multiple style="width: 50px;">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br>
            <span>Selected: {{ selected }}</span>
        </div>
        <script>
            new Vue({
                el: '#example-6',
                data: {
                    selected: []
                }
            })
        </script>

        <div class="block">
            <span class="demonstration">默认</span> <br>
            <el-image src="/static/imgs/3.jpg"></el-image>
            <img src="/static/imgs/2.jpg" alt="">
        </div>
        <script>
            new Vue({
                el: '.about-us-details',
                data: {
                    selected: []
                }
            })
        </script>
    </div>
    <footer>
        <% var footer = require('../../../components/footer.ejs') %>
        <%= footer() %>
    </footer>
</body>

</html>