<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/plugin.min.css">
    <script src="/static/js/reset-rem.js"></script>
</head>

<body>

    <header class="navHome">
        <% var header = require('../../components/header.ejs') %>
        <%= header() %>
    </header>
    <div class="home-container">
        <h1>This is home page</h1>

        <div id="logo">sdfsd</div>
        <img src="static/imgs/9.jpg" alt="">
        <h2>Example 1</h2>
        <div id="example-1">
            <el-input v-model="message" placeholder="请输入内容"></el-input>
            <p>Message is: {{ message }}</p>
        </div>
        <h2>Example 2</h2>
        <div id="example-textarea">
            <span>Multiline message is:</span>
            <p style="white-space: pre-line;">{{ message }}</p>
            <br>
            <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="message"> </el-input>
        </div>
        <h2>Example 3</h2>
        <div id="example-2">
            <!-- <el-input type="checkbox" id="checkbox" v-model="checked"> -->
            <el-checkbox v-model="checked">备选项</el-checkbox>
            <label for="checkbox">{{ checked }}</label>
        </div>
        <h2>Example 4</h2>
        <div id="example-3">
            <el-checkbox-group v-model="checkedNames">
                <el-checkbox label="Jack"></el-checkbox>
                <el-checkbox label="John"></el-checkbox>
                <el-checkbox label="Mike"></el-checkbox>
            </el-checkbox-group>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <h2>Example 5</h2>
        <div id="example-4">
            <el-radio v-model="radio" label="One">备选项</el-radio>
            <el-radio v-model="radio" label="Two">备选项</el-radio>
            <br>
            <br>
            <span>Picked: {{ radio }}</span>
        </div>

        <h2>Example 6</h2>
        <div id="example-img" class="demo-image__placeholder">
            <div class="block">
                <span class="demonstration">默认</span> <br>
            </div>
            <div class="block">
                <span class="demonstration">自定义</span><br>
                <el-image :src="srcImg">
                    <div slot="placeholder" class="image-slot">
                        加载中<span class="dot">...</span>
                    </div>
                </el-image>
            </div>
        </div>

    </div>
    <footer>
        <% var footer = require('../../components/footer.ejs') %>
        <%= footer() %>
    </footer>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/plugin.min.js"></script>
    <script>
        new Vue({
            el: '#example-1',
            data: {
                message: ''
            }
        })
        new Vue({
            el: '#example-textarea',
            data: {
                message: ''
            }
        })
        new Vue({
            el: '#example-2',
            data: {
                checked: false
            }
        })
        new Vue({
            el: '#example-3',
            data: {
                checkedNames: []
            }
        })
        new Vue({
            el: '#example-4',
            data: {
                radio: ''
            }
        })
        new Vue({
            el: '#example-img',
            data: {
                srcImg1: 'static/imgs/1.jpg',
                srcImg: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
            }
        })
    </script>
</body>

</html>